.jumbotron {
  padding-top: 4rem;
  background-color: #ff797946;
}

#Visi {
  background-color: #ffffff;
}

#about {
  background-color: #ff797946;
}

#komunitas {
  background-color: #ffffff;
}

#galery {
  background-color: #ff797946;
}

section {
  scroll-margin-top: 4rem;
}
html {
  overflow-x: hidden;
}
